@charset "utf-8";

body{
    margin: 0 auto 0 auto;
    width: 1000px;
    background-color: rgb(159, 250, 250);
}

header{
    height: 100px;
	border: 1px solid #000000;
	background-color: rgb(211, 238, 238);
}

h1{
    text-align: center;
}

main {
	height: 1000px;
}

/*課題1*/
.smooth {
    border: 1px solid rgb(92, 92, 92);
    border-radius: 3px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    width:50px;
    height:50px;
    background-color: rgb(187, 187, 187);
    line-height: 50px;
	text-align: center;

}

.smooth a {
    text-decoration-line: none;
	display: block;
	color: rgb(71, 71, 71);
	width: 100%;
	height: 100px;
}

.smooth:hover{
	opacity: 0.7;
}

#header2 {
    text-align: center;
    font-size: 20px;
    height: 20px;
}

/*課題1*/

/* 課題2 */

#acmenu {
    width: 202px;
	text-align: center;
}

#acmenu dt{
	display:block;
	width:200px;
	height:50px;
	line-height:50px;
    text-align:center;
    background-color: rgb(141, 141, 141);
	border:rgb(136, 136, 136) 1px solid;
	cursor:pointer;
	}

#acmenu dd{
    background:#e4e4e4;
    margin-left: 0;
	width:200px;
	height:50px;
	line-height:50px;
	text-align:center;
	border:rgb(136, 136, 136) 1px solid;
	display:none;
    }
    
/* 課題2 */
     
/* 課題3 */	
   #modal-content {
	width: 400px ;
	height: 100px;
	margin: 0 ;
	padding: 10px 20px ;
	border: 2px solid rgb(124, 124, 124) ;
	border-radius: 5px;
	background: #fff ;
	position: fixed ;
	display: none ;
	z-index: 2 ;
	text-align: center;
   }
	
   #contents {
	   text-align: center;
   }

   #modal-close {
	   float: right;
	   text-decoration: none;
	   background-color: #00f;
	   border: 1px solid #00f;
	   border-r
   }

   #modal-content-innar{
	margin:0 auto;
	width:80%;
   }
	 
   #modal-overlay {
	z-index: 1 ;
	display: none ;
	position: fixed ;
	top: 0 ;
	left: 0 ;
	width: 100% ;
	height: 120% ;
	background-color: rgba( 0,0,0, 0.75 ) ;
   }
	
   .button-link {
	color: #00f ;
	text-decoration: underline ;
   }
	
   .button-link:hover {
	cursor: pointer ;
	color: #f00 ;
   }

/*課題4*/

nav.globalMenuSp {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background: #fff;
    color: #000;
    text-align: center;
    transform: translateY(-100%);
    transition: all 0.6s;
    width: 100%;
}
 
nav.globalMenuSp ul {
    background: #ccc;
    margin: 0 auto;
    padding: 0;
    width: 100%;
}
 
nav.globalMenuSp ul li {
    font-size: 1.1em;
    list-style-type: none;
    padding: 0;
    width: 100%;
    border-bottom: 1px dotted #333;
}
 

nav.globalMenuSp ul li:last-child {
    padding-bottom: 0;
    border-bottom: none;
}
 
nav.globalMenuSp ul li a {
    display: block;
    color: #000;
    padding: 1em 0;
}
 

nav.globalMenuSp.active {
    transform: translateY(0%);
}

.navToggle {
    display: block;
    position: fixed; 
    right: 13px;
    top: 12px;
    width: 42px;
    height: 51px;
    cursor: pointer;
    z-index: 3;
    background: #666;
    text-align: center;
}
 
.navToggle span {
    display: block;
    position: absolute;  
    width: 30px;
    border-bottom: solid 3px #eee;
    -webkit-transition: .35s ease-in-out;
    -moz-transition: .35s ease-in-out;
    transition: .35s ease-in-out;
    left: 6px;
}
 
.navToggle span:nth-child(1) {
    top: 9px;
}
 
.navToggle span:nth-child(2) {
    top: 18px;
}
 
.navToggle span:nth-child(3) {
    top: 27px;
}
 
.navToggle span:nth-child(4) {
    border: none;
    color: #eee;
    font-size: 9px;
    font-weight: bold;
    top: 34px;
}


.navToggle.active span:nth-child(1) {
    top: 18px;
    left: 6px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
 

.navToggle.active span:nth-child(2),
.navToggle.active span:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}

/*課題4*/

.pc-nav ul li .Wrap {
	position: absolute;
	top: 116px;
	left: 0;
	z-index: 100;
	overflow: hidden;
	display: none;
	width: 100%;
	height: 100vh;
	background: rgba(0,0,0,0.6);
  }
  .Wrap .wrapInner {
	margin: 30px auto 0;
	width: 960px;
	height: 360px;
	background: #FFF;
	border-radius:8px;
  }
  .pc-nav ul li:hover:after{
	display:block;
	content: "";
	border: 10px solid transparent;
	border-bottom: 18px solid #fff;
	position: absolute;
	top: 120px;
	margin-left: 5%;
	z-index: 1000;
  }

  /*課題5*/
  .menu {
    position: relative;
    width: 100%;
    height: 50px;
    max-width: 1000px;
    margin: 0 auto;
    list-style-type: none;
    padding-left: 0;
}

.menu > li {
    float: left;
    width: 25%;
    height: 50px;
    line-height: 50px;
    background-color: rgb(93, 105, 62);
}

.menu > li a {
    display: block;
    color: #fff;
}

.menu > li a:hover {
    color: #999;
}

ul.menu__second-level {
    padding-left: 0%;
    list-style-type: none;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
}

ul.menu__third-level {
    visibility: hidden;
    opacity: 0;
}

ul.menu__fourth-level {
    visibility: hidden;
    opacity: 0;
}

.menu > li:hover {
    background: rgb(19, 104, 90);
    -webkit-transition: all .5s;
    transition: all .5s;
}

.menu__second-level li {
    border-top: 1px solid #111;
}



.menu__second-level li a:hover {
    background: #111;
}


.init-bottom:after {
    content: '';
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 0 0 15px;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.menu:before,
.menu:after {
    content: " ";
    display: table;
}

.menu:after {
    clear: both;
}

.menu {
    *zoom: 1;
}

.menu > li.menu__single {
    position: relative;
}

li.menu__single ul.menu__second-level {
    position: absolute;
    top: 40px;
    width: 100%;
    background: #072A24;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

li.menu__single:hover ul.menu__second-level {
    top: 50px;
    visibility: visible;
    opacity: 1;
}
  /*課題5*/

/*課題6*/
.tab_top {
    margin-bottom: 0;
    padding-left: 0%;
    width: 1000px;
    height: 32px;
    list-style-type: none;
}
.tab_top li {
    display: block;
    width: 248px;
    height: 30px;
    float: left;
    text-align: center;
    line-height: 30px;
    border: 1px solid #000; 
    background-color: rgb(146, 144, 144);

}

.tab_top .select{
    background-color: rgb(185, 185, 185);
}

.tab_top li:hover {
    opacity: 0.9;
}

.tab ul{
    margin-top: 0;
    padding-left: 0;
    height: 100px;
    background-color: rgb(185, 185, 185);
}

.tab li{
    line-height: 100px;
    text-align: center;
    font-size: 30px;
    list-style-type: none;
}

.hide {
    display: none;
}