@charset "utf-8";

/* 共通 */
body{
    width: 1080px;
    margin: 0 auto 0 auto;

}

#sp, .sp {
    display: none;
}


#sub2,header,#slider,#aaa,#aaa1, #main1, #main1_form,#open_sp,
 #steps, #open, #service, #service_sp, footer{
    background-color: #ffffff;
}

a:hover{
    opacity: 0.5;
}


/* 共通 */


/* ヘッダー */

header {
    height: 220px;
}

#lang {
    padding-right: 60px;
    float: right;
}
#logo_header h1{
    margin-left: auto;
    margin-right: auto; 
    width: 543px;
    padding-top: 50px;
    padding-left: 45px;
}
/* ヘッダー */

/* sub */

#sub{
    z-index: 10;
    position: fixed;
    top: 250px;
    right: 10px;
}

#sub ul{
    margin-top: 0;
    float: right;
    list-style-type: none;
    text-align: center;
}

/* sub */


/* スライド */
#aaa{
    height: 550px;

}


#slider {
    width: 1000px;
    height: 490px;
    margin: 0 40px 0 40px;
}

/* スライド */

/* main1 */

#main1 {
    height: 470px;
}

#test {
    padding-left: 105px;
}

#text1 {
    text-align: center;
}

#kanji1{
    padding-left: 150px;
}

#kanji2 {
    padding-left: 85px;
    overflow: hidden;
}

#kanji3{
    padding-left: 150px;
    float: left;
}

#kanji4 {
    padding-left: 158px;
}

#text2 {
    text-align: center;
}

/* main1*/

/*main1_form*/

#main1_form {
    margin: 0 auto 0 auto;
    width: 1080px;
    height: 235px;
    background-image: url(../images/bgimage.png);
    background-position: center 0%;
    background-repeat: no-repeat, no-repeat;
}

#text3{
    padding-top: 20px;
    margin-top: 0;
    margin-bottom: 0;
    color: #ed0d00;
    text-align: center;
    font-size: 30px;
}

#sankaku {
    text-align: center;
    margin: 0 auto 0 auto;
}

#form {
    height: 80px;
    text-align: center;
}

input[type="text"]{
    border-radius: 7px;
    font-size: 30px;
    width: 335px;
    height: 40px;
    vertical-align: top;
}

/*main1_form*/

/*steps*/
#steps {
    height: 970px;
}

#step_top, #step_center, #step_bottom{
    margin: 0 auto 0 auto;
    width: 1000px;
}

#step_center{
    height: 323px;
}

#step2 {
    margin-top: 10px;
    width: 560px;
    height: 310px;
    float: right;
}

#step2_1{
    width: 560px;
    margin-bottom: 30px 
}

.step_img {
    padding-right: 12px;
}

/*steps*/

/*slider2*/

#slider2_pc{
    margin: 20px 0 50px 0;
}

.thumbnail{
    color: #ed0d00;
    text-align: center;
    margin: 20px 0 0 39px;
    padding-left: 0;
    width: 1001px;
}

.thumbnail li{
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 25px;
    width: 331px !important;
}

.thum{
    border: 3px solid #ed0d00;
}

#thum1{
    border-top-left-radius:  10px;
    border-bottom-left-radius:  10px;
    border-right: none;
}

#thum2{
    border-top-right-radius:  10px;
    border-bottom-right-radius:  10px;
    border-left: none;
}

.slider_bottom {
    padding-left: 50px;
    margin: 10px 40px 0 40px;
}

.slideleft {
    position: absolute;
    top: 165px;
    left: 0px;
    z-index: 50px;
}

.slideright {
    position: absolute;
    top: 165px;
    right: 0px;
    z-index: 30px;
}


/*slider2*/

/*open*/
#open{
    height: 690px;
}

#open_top, .text_open{
    width: 1000px;
    margin: 0 40px 15px 40px;
}

#open_top {
    margin-bottom: 20px;
}

.text_open{
    width: 1000px;
    text-align: center;
}
.kome {
    color: #c4c4c4;
    font-size: 10px;
}
/*open*/

/*service*/

#service, #ul_ser{
    height: 920px;
}

#service_img {
    margin: 0 40px 0 40px;
    width: 1000px;
}

#ul_ser{
    height: 990px;
 
}

.ul_line{
    margin-bottom: 20px;
    list-style-type: none;
    width: 1000px;
    border-bottom: 2px solid #000000;
}

.ul_none{
    list-style-type: none;
}

#ul_logo_none{
    list-style-type: none;
}

.ul_2{
    list-style-type: disc;
    padding-left: 50px;
}

.ul_3, .ul_1{
    list-style-type: none;
    padding-left: 30px;
    list-style-type: none;
}

h2{

    margin-bottom: 0;
    padding-left: 0px;
}

/*service*/

/*footer*/

footer{
    text-align: center;
}

#footer_text1 {
    width: 100px;
    font-size: 25px;
    line-height: 95px;
    text-align: center;
    padding-right: 20px;
}

#footer_text1 {
    width: 100px;
    font-size: 25px;
    line-height: 95px;
    text-align: center;
    padding-right: 20px;
}

#footer_text2 {
    width: 100px;
    font-size: 25px;
    line-height: 95px;
    text-align: center;
    padding-right: 20px;
}


#table_1{
    margin: 0 auto 10px auto;

}

#table_2{
    margin: 0 auto 10px auto;
}

#test222{
    padding-right: 97px;
    padding-left: 50px;
}

/*footer*/

/*sp共通*/

@media screen and (max-width:599px){

    #sp1,.pc{
        display: none;
    }
    
    #sp, .sp{
        display: block;
    }



body{
    width: 100%;
    margin: 0 auto 0 auto;
}

a:hover{
    opacity: 0.5;
}

/*sp共通*/

/*sub*/
#sub2 ul li{
    margin: 0 5px 5px 5px;
    list-style-type: none;
    float: left;
    vertical-align: middle;
}

/*sub*/

/*header*/

header{
    width: 599px;
    height: 100px;
}

h1{
    margin-top: 0;
    padding-top: 20px;
}


#lang .sp{
    float: left;
    margin: 0 5px 0 5px;
}

/*header*/

/*slider1*/

#aaa1{
    height: 340px;

}
#slider2 {
    width: 599px;
    height: 291px;
    margin: 0 auto 0 auto;
}

/*slider1*/

/*main*/

#test_sp{
    padding-left: 50px;
}

#main1{
    height: 380px;
}

#main1_logo01_sp{
    width: 250px;
    margin: 0%;
    float: right;

}

#main1_logo02_sp{
    width: 250px;
    padding-left: 50px;
}

#main1_form {
    margin: 0 auto 0 auto;
    width: 1080px;
    height: 235px;
    background-image: url(../images2/bgimage.png);
    background-position: center 0%;
    background-repeat: no-repeat, no-repeat;
}

#main1_form{
    width: 599px;
    height: 140px;
    background-color: #d7e6f0;
}

#kanji1_sp{
    margin-bottom: 5px;
}

#kanji2_sp{
    margin-bottom: 5px;
}

#text1_sp{
    text-align: center;
}

#text3{
    font-size: 25px;
}

#sankaku_sp{
    margin: 0 auto 0 auto;
    width: 18px;
}

#input_sp{
    font-size: 20px;
    width: 250px;
    height: 45px;
}

#form_ul_sp{
    margin: 0 auto 0 70px;
}

.form_li_sp {
    list-style-type: none;
    float: left;
}

/*main*/

/*step*/

#steps, #step_center, #step_top, #step_bottom{
    width:599px;
}

#step_top {
    padding-top: 50px;
}

#step2_1_sp{
padding-left: 23px;
}

/*step*/

/*スライダb*/
.slider_bottom2{
    padding-left: 54px;
    margin: 0 auto 0 auto;
    
}

.slick-list draggable{
    width: 188px;
}

.thumbnail2{
    padding-left: 0;
    color: #ed0d00;
    width: 599px;
    margin: 0 0 20px ;
}



.thum_sp{width: 196px !important;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    border: 2px solid #ed0d00;
}

#thum_sp1{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#thum_sp2{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.slideleft {
    position: absolute;
    top: 100.5px;
    left: 0px;

}

.slideright {
    position: absolute;
    top: 100.5px;
    right: 0px;
}

#text_slider_sp{
    text-align: center;
    margin-top: 5px;
}

/*スライダb*/

/*open*/

#open_sp{
    height: 800px;
}

.open_sp_logo{
padding-left: 50px;
}

.open_sp_logo1{
    padding-left: 141.5px;
    }

.axa{
    text-align: center;
}

/*open*/

/*service*/

#service_sp{
    height: 860px;
}

.ul_ser{
    width: 599px;
    padding-left: 10px;
}

.ul_2{
    list-style-type: disc;
}

.ul_3_small{
    margin-bottom: 10px;
    font-size: 14px;
}

h2{
    width: 599px;
}

.ul_line{
    width: 599px;
}

/*service*/

/*footer*/
#test222_sp{
    padding-right: 97px;
    padding-left: 50px;
}

#footer_text1,#footer_text2{
    font-size: 20px;
}

#table_1{
    margin-bottom: 0;
}

#table_2{
    padding-right: 60px;
    padding-bottom: 20px;
}

footer{
    height: 300px;
}

#footer_bottom{
    height: 40px;

}

#f_b{
    padding-left: 190px;
}

#f_b li{
    
    width: 120px;
    display: block;
    margin: 0 0px 0 0px;
    float: left;
    list-style-type: none;
    border-right: 1px solid #000000;
}
/*footer*/

}